<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557886307402-qilr8b7c0oa976l698vdkpfv2ah35lf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557886307402-qilr8b7c0oa976l698vdkpfv2ah35lf4</string>
	<key>API_KEY</key>
	<string>AIzaSyDflRAUnNPR9itpREMBCTnrTKM2bVMFG-k</string>
	<key>GCM_SENDER_ID</key>
	<string>557886307402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anonymousChatMobile</string>
	<key>PROJECT_ID</key>
	<string>anonymous-chat-c8edd</string>
	<key>STORAGE_BUCKET</key>
	<string>anonymous-chat-c8edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557886307402:ios:7cb3a325baf299eb6bbab3</string>
	<key>DATABASE_URL</key>
	<string>https://anonymous-chat-c8edd.firebaseio.com</string>
</dict>
</plist>